* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#warning-message {
    display: none;
}

@media only screen and (orientation:portrait) {
    #wrapper {
        display: none;
    }

    #warning-message {
        display: block;
    }
}

@media only screen and (orientation:landscape) {
    #warning-message {
        display: none;
    }
}

#wrapper {
    margin: 7px;
}

table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.event-btn {
    background: #333;
    cursor: pointer;
}

td.event-btn-container {
    width: 40%;
}

#event-timer {
    color: #329886;
    font-size: 2em;
    margin: 0 2px;
}

.inilne {
    display: inline-block;
}

h1 {
    font-size: 2em;
    color: #329886;
}

.center {
    text-align: center;
}